li {
  text-decoration: none;
  list-style: none;
}

.section-title {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;

  h2 {
    color: #2c2d3f;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
    text-transform: capitalize;
  }

  h2::before {
    background: #f7941d;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
  }
}

.prix {
  font-size: 1.5rem;
}

.header .shopping-list {
  padding-left: 0;
}

.hero-text {
  background-color: rgba($color: #000000, $alpha: .8);
  padding: 2em !important;
}

footer {
  padding-top: 25px;

  img {
    filter: invert(1);
  }
}